<app-header title="Segment"></app-header>

<!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)" color="tertiary">
    <ion-segment-button value="">
        <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
        <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
        <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
</ion-segment>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let hero of (superHeroes | async) |filter:publisher:'publisher'" class="animated fadeIn">
            <ion-label>
                <h3>
                    <small>
                        {{hero.superhero}}
                    </small>
                    <p>
                        {{hero.first_appearance}}
                    </p>
                </h3>
            </ion-label>
            <ion-label slot="end" text-right>{{hero.publisher}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="(superHeroes | async) ===null">
        <ion-item *ngFor="let hero of [1,1,1,1,1,1,1,1,1,1,1,1]" class="animated flash slow infinite">
            <ion-label>
                <h3>
                    <small>
                        <ion-skeleton-text width=" 70%
        "></ion-skeleton-text>
                    </small>
                    <p>
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </p>
                </h3>
            </ion-label>
            <ion-label slot="end" align="right">
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
