<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let componente of componentes |async" [routerLink]="componente.redirectTo">
        <ion-item detail>
          <ion-label>{{componente.name}}</ion-label>
          <ion-icon slot="start" [name]="componente.icon"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>